<% provide :title, "Home" %>
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/posts_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <div id="micropost-feed-home">
        <h4>Micropost Feed</h4>
      </div>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Micropost</h1>
    <h2>
      This is the home page for the Micropost
    </h2>
    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
