<div id="post-home">
  <li id="micropost-<%= post.id %>">
    <%= link_to gravatar_for(post.user, size: 50), post.user, id: "gavatar-post" %>
    <span class="user name-user-home-post" ><%= link_to post.user.name, post.user %></span>
    <span class="timestamp">
      <%= time_ago_in_words post.created_at %>
      <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete,
          data: {confirm: "You sure?"} %>
      <% end %>
    </span>
  </li>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <hr>
  <div class="container-comment">
    <%= link_to gravatar_for(current_user, size: 50), current_user, id: "gavatar-post-comment" %>
    <input type="text" class="form-control input-comment" id="basic-url" aria-describedby="basic-addon3" placeholder="Write a public comment...">
  </div>
</div>