<div id="post-home">
  <li id="micropost-<%= post.id %>">
    <%= link_to gravatar_for(post.user, size: 50), post.user, id: "gavatar-post" %>
    <span class="user name-user-home-post" ><%= link_to post.user.name, post.user %></span>
    <span class="timestamp">
      <%= time_ago_in_words post.created_at %>
      <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete,
          data: {confirm: "You sure?"} %>
      <% end %>
    </span>
  </li>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <hr>
  <div class="form-index-comment">
    <% if post.comments.present? %>
      <% comments = post.comments.select { |comment| comment.parent_comment_id == nil } %>
      <% comments.each do |comment| %>
        <% if comment.user.present? %>
          <div class="container-comments">
            <%= link_to gravatar_for(comment.user, size: 50), comment.user, id: "gavatar-post-comment" %>
            <span class="comment-index">
              <div>
                <%= link_to comment.user.name, user_path(comment.user), id: "name-comment" %>
              </div>
              <p id="content-comment"><%= comment.content %></p>
            </span>
          </div>
          <div class="attr-comment">
            <span class="reply-to-comment">Reply</span>
            <span class="time-comment"><%= time_ago_in_words post.created_at %></span>
          </div>
          <div class="form-index-reply-to-reply">
            <% comment.replies.each do |reply| %>
              <div class="container-content-reply">
                <%= link_to gravatar_for(reply.user, size: 50), reply.user, id: "gavatar-post-comment" %>
                <span class="reply-index">
                  <div>
                    <%= link_to reply.user.name, user_path(reply.user), id: "name-comment" %>
                  </div>
                  <p id="content-comment"><%= reply.content %></p>
                </span>
              </div>
              <div class="attr-reply">
                <span class="reply-to-comment">Reply</span>
                <span class="time-comment"><%= time_ago_in_words reply.created_at %></span>
              </div>
              <div class="container-nested-content-reply">
                <% reply.replies.each do |sub_reply| %>
                  <div class="container-netsed-reply">
                    <%= link_to gravatar_for(sub_reply.user, size: 50), sub_reply.user, id: "gavatar-post-comment" %>
                    <span class="reply-index">
                      <div>
                        <%= link_to sub_reply.user.name, user_path(sub_reply.user), id: "name-comment" %>
                      </div>
                      <p id="content-comment"><%= sub_reply.content %></p>
                    </span>
                  </div>
                  <div class="attr-nested-reply">
                    <span class="time-comment"><%= time_ago_in_words sub_reply.created_at %></span>
                  </div>
                <% end %>
              </div>
              <div class="comment-from <%= reply.replies.blank? ? 'container-nested-reply' : 'container-nested-reply-none' %>" >
                <%= link_to gravatar_for(current_user, size: 50), current_user, id: "gavatar-post-comment" %>
                <%= form_with(model: [post, post.comments.new], local: false) do |f| %>
                  <%= f.hidden_field :parent_comment_id, value: reply.id %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.text_field :content, :class => 'form-control input-nested-reply input-content-comment', :id => 'input-nested-reply', placeholder: "Write a public comment..." %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="comment-from <%= comment.replies.blank? ? 'container-reply' : 'container-reply-none'  %>" >
            <%= link_to gravatar_for(current_user, size: 50), current_user, id: "gavatar-post-comment" %>
            <%= form_with(model: [post, post.comments.new], local: false) do |f| %>
              <%= f.hidden_field :parent_comment_id, value: comment.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.text_field :content, :class => 'form-control input-reply input-content-comment', :id => "input-reply-to-reply", placeholder: "Write a public comment..." %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container-comment comment-from">
    <%= link_to gravatar_for(current_user, size: 50), current_user, id: "gavatar-post-comment" %>
    <%= form_with(model: [post, post.comments.build], local: false) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :content, :class => 'form-control input-comment input-content-comment', :id => 'input-reply-to-post', :value => f.object.content, placeholder: "Write a public comment..." %>
    <% end %>
  </div>
</div>
