<div id="post-home">
  <li id="micropost-<%= post.id %>">
    <%= link_to gravatar_for(post.user, size: 50), post.user, id: "gavatar-post" %>
    <span class="user name-user-home-post" ><%= link_to post.user.name, post.user %></span>
    <span class="timestamp">
      <%= time_ago_in_words post.created_at %>
      <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete,
          data: {confirm: "You sure?"} %>
      <% end %>
    </span>
  </li>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <hr>
  <div class="form-index-comment">
    <% if (comments = post.comments).present? %>
      <% comments.each do |c| %>
        <div class="container-comments">
          <%= link_to gravatar_for(c.user, size: 50), c.user, id: "gavatar-post-comment" %>
          <span class="comment-index">
            <div>
              <%= link_to c.user.name, user_path(c.user), id: "name-comment" %>
            </div>
            <p id="content-comment"><%= c.content %></p>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="container-comment">
    <%= link_to gravatar_for(current_user, size: 50), current_user, id: "gavatar-post-comment" %>
    <%= form_with(model: [post, post.comments.build], local: false) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :content, :class => 'form-control input-comment', placeholder: "Write a public comment..." %>
    <% end %>
  </div>
</div>
